@charset "utf-8";
/* CSS Document */

		
 body {
	 /*背景图片*/
      background-image: url(https://file.dounait.cn/images/img/640956_y1zx.jpg)!important;
      background-size: cover !important;
      background-attachment: fixed !important;
      background-position: center center !important;
	 /*	鼠标形状*/
	  cursor: crosshair;
    }
		
		
.hero {
/*
	background-color: #00ffff;
	padding-top: 150px;
	padding-bottom: 150px;
*/
	background-image: url(https://o05g5zevc.qnssl.com/f442a23f-2443-4895-ae55-17919a469069/pid-65720911_p1.jpg?imageMogr2/auto-orient/strip/thumbnail/!1600x1600%3E);
}


#ins_audio{
	position: absolute;
	right: 37px;
	top: 67px;
	width: 300px;
}
